* {
    margin: 0;
    padding: 0;
}

#header{
    height: 55px;
    background-color: greenyellow;
    border-bottom: 1px solid gray;
}

#login {
    float: left;
    margin: 8px 0;
}



#body {
    height: 100%;
    padding: 24px;
}

#banner {
    height: 265px;
    width: 1034px;
    background-color: plum;
    margin: 0 auto;
}



#button-area {
    width: 1034px;
    height: 45px;
    margin: 0 auto;
}

#add {
    float: right;
}




#nav {
    height: 50px;
    width: 1400px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.genre {
    width: 60px;
    height: 30px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
}



#character-list {
    width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
}

.character-card {
    width: 200px;
    height: 300px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 35px;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 12px;
}

.character-img {
    width: 100%;
    height: 210px;
}

.character-contents {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.character-name {
    font-size: 16px;
    font-weight: 600;
}

.contents-sub {
    font-size: 14px;
}

.character-tags {
    margin-top: 6px;
    display: flex;
}

.character-tag {
    margin-right: 3px;
    font-size: 14px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 10px;
}






#footer {
    height: 60px;
    background-color: palevioletred;
}